body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(19,56,59);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  color: white !important;
}

.title:hover {
  text-decoration: underline wavy white 1px;
}

.ant-menu-overflow {
  justify-content: flex-end;
}

.contentHolder {
  width: 66vw;
}

.formHolder {
  width: 40vw;
  margin-left: 23vw;
  margin-right: 33vw;
}

.logo {
  margin-left: 43vw;
  margin-top: 5vh
}

.formHeader {
  color: white;
  font-size: xx-large;
  margin: 4vh 8vw;
}

.invalidFormAlert div {
  background-color: rgb(14,46,49);
  color: white;
  border: 0px;
}

.invalidFormAlert div button {
  background-color: darkslategray;
  color: white;
}

.invalidFormAlert div button:hover {
  background-color: rgb(72, 72, 72);
}

.form {
  margin-top: 25vh;
}

/* This is used for the "Sign up instead" and "Log in instead" h3 elements */
.authLink {
  margin-left: 33%;
}

.creator {
  color: #ffc370 !important;
}

.creator:hover {
  color: #cd9c57 !important;
  text-decoration: underline;
}

.tag a {
  color: #ffc370;
}

.tag a:hover {
  color: #cd9c57;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 35vw;
  }

  .contentHolder {
    width: 100vw;
  }

  .formHolder {
    width: 90vw;
    margin-left: 0;
  }

  .authLink {
    margin-left: 10%;
  }
}