body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(19,56,59);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  color: white !important;
}

.title:hover {
  text-decoration: underline wavy white 1px;
}

.ant-menu-overflow {
  justify-content: flex-end;
}

.contentHolder {
  width: 66vw;
}

.formHolder {
  width: 40vw;
  margin-left: 23vw;
  margin-right: 33vw;
}

.logo {
  margin-left: 43vw;
  margin-top: 5vh
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 35vw;
  }
}